* {
    background-color: #5d8aa8;
}


/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }


 /* Page styles  */
header,
main {
 background-color: #5d8aa8;   
 border: 2px solid #406278;
 color:black; 
 margin: 15px;
 padding: 15px;
 box-shadow: 8px 8px 4px #406278;
}

h1 {
    text-align: left;
}

.me {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 8px 8px 4px #406278;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #5d8aa8;
    padding: 10px;
    
  }
  
  .grid-container > div {
    text-align: left;
    padding: 20px 0;
    font-size: 18px;
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
   
  }
  
  .item2 {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 4;
      box-shadow: 8px 8px 4px #406278;
  }
  
  .item3 {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 4;
      box-shadow: 8px 8px 4px #406278;
  
  }