* {
    background-color: #5d8aa8;
}


/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5d8aa8;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 2px #406278;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #6e96b1;
  }
  
  .active {
    background-color: #6e96b1;
  }


 /* Page styles  */
 
header,
main {
 background-color: #5d8aa8;   
 border: 2px solid #406278;
 color:black; 
 margin: 15px;
 padding: 15px;
 box-shadow: 8px 8px 4px #406278;
}

.footer {
    position: sticky;
    margin: 0;
    padding: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    box-shadow: 4px 4px 2px #406278;
    
  
}
h1 {
    text-align: left;
}

.me {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 8px 8px 4px #406278;
}

p {
    padding: 15px;
    margin: 15px; 
    font-size: 15px;
  }

h2 {
  text-align: center;
}
.project-title{
text-decoration: underline;
}

.contact-links {
  text-align: center;
}

/* grid container set-up */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #5d8aa8;
    padding: 10px;
    
  }
  
  .grid-container > div {
    text-align: left;
    padding: 20px 0;
    font-size: 18px;
  }
  
  /* portrait image */
  .item1 {
   
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   
  }
  
  /* about me info */
  .item2 {
    
    border: 2px solid #406278;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 4;
      box-shadow: 8px 8px 4px #406278;
  }
  
  /* projects */
  .item3 {
    border: 2px solid #406278;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 4;
      box-shadow: 8px 8px 4px #406278;
  
  }

/* contact */
    .item4{
        border: 2px solid #406278;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        box-shadow: 8px 8px 4px #406278;
}

 

  /* Projects collapse
   */
   .go-to {
    background-color:  #5d8aa8;
      color: white;
      cursor: pointer;
      padding: 2px;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
   }

   .go-to:hover{
       background-color: #406278;
   }
   .collapsible {
    background-color: #5d8aa8;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #6e96b1;
  }
  
  .content {
    text-align: center;
    padding: 0 4px;
    display: none;
    overflow: hidden;
    background-color: #5d8aa8;
  }

  /* contact links */
 
  a:link, a:visited {
    background-color: #5d8aa8;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #6e96b1;
  }